#Прикладное программирование
[Презентация](https://docs.google.com/presentation/d/1fO-qWBuaj-F7LrmfF0McHnAuLtacrQLO4m7tkRpm1xs/edit?usp=sharing)
##Лекция 2
- Работа с GitHub в среде разработки Pycharm
- Venv
- Jupyter Lab
- Conda
- Списки
- Словари
- Кортежи
- Регулярные выражения
- Функции
- Области видимости переменных
- Lambda-функции
- Функции enumerater, zip, map, filter

#Список

Список (list) представляет тип данных, который хранит набор или последовательность элементов. Для создания списка в квадратных скобках ([]) через запятую перечисляются все его элементы. Во многих языках программирования есть аналогичная структура данных, которая называется массив. Например, определим список чисел:

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Также для создания списка можно использовать конструктор list():

In [ ]:
numbers1 = []
numbers2 = list()
print(numbers1)
print(numbers2)

[]
[]

Оба этих определения списка аналогичны - они создают пустой список.

Конструктор list для создания списока может принимать другой список:

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers2 = list(numbers)
print(numbers2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Для обращения к элементам списка надо использовать индексы, которые представляют номер элемента в списка. Индексы начинаются с нуля. То есть второй элемент будет иметь индекс 1. Для обращения к элементам с конца можно использовать отрицательные индексы, начиная с -1. То есть у последнего элемента будет индекс -1, у предпоследнего - -2 и так далее.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers[0])   # 1
print(numbers[2])   # 3
print(numbers[-3])  # 3

numbers[0] = 125  # изменяем первый элемент списка
print(numbers[0])   # 125

1
3
3
125

Если необходимо создать список, в котором повторяется одно и то же значение несколько раз, то можно использовать следующий способ. Например, определим список из шести пятерок:

In [ ]:
numbers = [5] * 6  # [5, 5, 5, 5, 5, 5]
print(numbers)

[5, 5, 5, 5, 5, 5]

Кроме того, если нам необходим последовательный список чисел, то для его создания удобно использовать функцию range, которая имеет три формы:

range(end): создается набор чисел от 0 до числа end

range(start, end): создается набор чисел от числа start до числа end

range(start, end, step): создается набор чисел от числа start до числа end с шагом step

In [ ]:
numbers = list(range(10))
print(numbers)      # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers = list(range(2, 10))
print(numbers)      # [2, 3, 4, 5, 6, 7, 8, 9]
numbers = list(range(10, 2, -2))
print(numbers)      # [10, 8, 6, 4]

Например, следующие два определения списка будут аналогичны, но за счет функции range мы сокращаем объем кода:

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers2 = list(range(1, 10))

Список необязательно должен содержать только однотипные объекты. Мы можем поместить в один и тот же список одновременно строки, числа, объекты других типов данных:

In [ ]:
objects = [1, 2.6, "Hello", True]
print(objects)

[1, 2.6, 'Hello', True]

##Перебор элементов
Для перебора элементов можно использовать как цикл for, так и цикл while.

Перебор с помощью цикла for:

In [ ]:
companies = ["Microsoft", "Google", "Oracle", "Apple"]
for item in companies:
    print(item)

Microsoft
Google
Oracle
Apple

In [ ]:
result = []
for item in companies:
  if not len(item) == 6:
    result.append(item)
companies=result

Здесь вместо функции range мы сразу можем подставить имеющийся список companies.

Перебор с помощью цикла while:

In [ ]:
companies = ["Microsoft", "Google", "Oracle", "Apple"]
i = 0
while i < len(companies):
    print(companies[i])
    i += 1

Microsoft
Google
Oracle
Apple

Для перебора с помощью функции len() получаем длину списка. С помощью счетчика i выводит по элементу, пока значение счетчика не станет равно длине списка.

##Сравнение списков
Два списка считаются равными, если они содержат один и тот же набор элементов:

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers2 = list(range(1,10))
if numbers == numbers2:
    print("numbers equal to numbers2")
else:
    print("numbers is not equal to numbers2")

numbers equal to numbers2

В данном случае оба списка будут равны.

## Методы и функции работы со списками
Для управления элементами списки имеют целый ряд методов. Некоторые из них:

- append(item): добавляет элемент item в конец списка

- insert(index, item): добавляет элемент item в список по индексу index

- remove(item): удаляет элемент item. Удаляется только первое вхождение элемента. Если элемент не найден, генерирует исключение ValueError

- clear(): удаление всех элементов из списка

- index(item): возвращает индекс элемента item. Если элемент не найден, генерирует исключение ValueError

- pop([index]): удаляет и возвращает элемент по индексу index. Если индекс не передан, то просто удаляет последний элемент.

- count(item): возвращает количество вхождений элемента item в список

- sort([key]): сортирует элементы. По умолчанию сортирует по возрастанию. Но с помощью параметра key мы можем передать функцию сортировки.

- reverse(): расставляет все элементы в списке в обратном порядке

Кроме того, Python предоставляет ряд встроенных функций для работы со списками:

- len(list): возвращает длину списка

- sorted(list, [key]): возвращает отсортированный список

- min(list): возвращает наименьший элемент списка

- max(list): возвращает наибольший элемент списка

##Добавление и удаление элементов
Для добавления элемента применяются методы append() и insert, а для удаления - методы remove(), pop() и clear().

Использование методов:

In [ ]:
users = ["Tom", "Bob"]
print(users)
# добавляем в конец списка
users.append("Alice")  # ["Tom", "Bob", "Alice"]
print(users)
# добавляем на вторую позицию
users.insert(1, "Bill")          # ["Tom", "Bill", "Bob", "Alice"]
print(users)
# получаем индекс элемента
i = users.index("Tom")
# удаляем по этому индексу
removed_item = users.pop(i)            # ["Bill", "Bob", "Alice"]

last_user = users[-1]
# удаляем последний элемент
users.remove(last_user)           # ["Bill", "Bob"]

print(users)

# удаляем все элементы
users.clear()

['Tom', 'Bob']
['Tom', 'Bob', 'Alice']
['Tom', 'Bill', 'Bob', 'Alice']
['Bill', 'Bob']

##Проверка наличия элемента
Если определенный элемент не найден, то методы remove и index генерируют исключение. Чтобы избежать подобной ситуации, перед операцией с элементом можно проверять его наличие с помощью ключевого слова in:

In [ ]:
companies = ["Microsoft", "Google", "Oracle", "Apple"]
item = "Oracle"  # элемент для удаления
if item in companies:
    companies.remove(item)

print(companies)

['Microsoft', 'Google', 'Apple']

Выражение item in companies возвращает True, если элемент item имеется в списке companies. Поэтому конструкция if item in companies может выполнить последующий блок инструкций в зависимости от наличия элемента в списке.

Подсчет вхождений
Если необходимо узнать, сколько раз в списке присутствует тот или иной элемент, то можно применить метод count():

In [ ]:
users = ["Tom", "Bob", "Alice", "Tom", "Bill", "Tom"]

users_count = users.count("Tom")
print(users_count)      # 3

##Сортировка
Для сортировки по возрастанию применяется метод sort():

In [ ]:
users = ["Tom", "Bob", "Alice", "Sam", "bill"]

users.sort()
print(users)      # ["Alice", "Bill", "Bob", "Sam", "Tom"]

['Alice', 'Bob', 'Sam', 'Tom', 'bill']

Если необходимо отсортировать данные в обратном порядке, то мы можем после сортировки применить метод reverse():

In [ ]:
users = ["Tom", "Bob", "Alice", "Sam", "Bill"]

users.sort()
users.reverse()
print(users)      # ["Tom", "Sam", "Bob", "Bill", "Alice"]

При сортировке фактически сравниваются два объекта, и который из них "меньше", ставится перед тем, который "больше". Понятия "больше" и "меньше" довольно условны. И если для чисел все просто - числа расставляются в порядке возрастания, то для строк и других объектов ситуация сложнее. В частности, строки оцениваются по первым символам. Если первые символы равны, оцениваются вторые символы и так далее. При чем цифровой символ считается "меньше", чем алфавитный заглавный символ, а заглавный символ считается меньше, чем строчный. Подробнее про сравнение строк описывалось в статье Операции со строками.

Таким образом, если в списке сочетаются строки с верхним и нижним регистром, то мы можем получить не совсем корректные результаты, так как для нас строка "bob" должна стоять до строки "Tom". И чтобы изменить стандартное поведение сортировки, мы можем передать в метод sort() в качестве параметра функцию:

In [ ]:
users = ["Tom", "bob", "alice", "Sam", "Bill"]
users.sort()
print(users)


users.sort(key=str.lower)
print(users)      # ["alice", "Bill", "bob", "Sam", "Tom"]

['Bill', 'Sam', 'Tom', 'alice', 'bob']
['alice', 'Bill', 'bob', 'Sam', 'Tom']

Кроме метода sort мы можем использовать встроенную функцию sorted, которая имеет две формы:

sorted(list): сортирует список list

sorted(list, key): сортирует список list, применяя к элементам функцию key

In [ ]:
users = ["Tom", "bob", "alice", "Sam", "Bill"]

sorted_users = sorted(users, key=str.lower)
print(sorted_users)      # ["alice", "Bill", "bob", "Sam", "Tom"]

При использовании этой функции следует учитывать, что эта функция не изменяет сортируемый список, а все отсортированные элементы она помещает в новый список, который возвращается в качестве результата.

##Минимальное и максимальное значения
Встроенные функции Python min() и max() позволяют найти минимальное и максимальное значения соответственно:

In [ ]:
numbers = [9, 21, 12, 1, 3, 15, 18]
print(min(numbers))     # 1
print(max(numbers))     # 21

1
21

##Копирование списков
При копировании списков следует учитывать, что списки представляют изменяемый (mutable) тип, поэтому если обе переменных будут указывать на один и тот же список, то изменение одной переменной, затронет и другую переменную:

In [ ]:
users1 = ["Tom", "Bob", "Alice"]
users2 = users1
users2.append("Sam")
# users1 и users2 указывают на один и тот же список
print(users1)   # ["Tom", "Bob", "Alice", "Sam"]
print(users2)   # ["Tom", "Bob", "Alice", "Sam"]

['Tom', 'Bob', 'Alice', 'Sam']
['Tom', 'Bob', 'Alice', 'Sam']

In [ ]:
users1 = ["Tom", "Bob", "Alice"]
users2 = list(users1)
users2.append("Sam")
print(users1)
print(users2)

['Tom', 'Bob', 'Alice']
['Tom', 'Bob', 'Alice', 'Sam']

Это так называемое "поверхностное копирование" (shallow copy). И, как правило, такое поведение нежелательное. И чтобы происходило копирование элементов, но при этом переменные указывали на разные списки, необходимо выполнить глубокое копирование (deep copy). Для этого можно использовать метод deepcopy(), который определен во встроенном модуле copy:

In [ ]:
import copy

users1 = ["Tom", "Bob", "Alice"]
users2 = copy.deepcopy(users1)
users2.append("Sam")
# пееменные users1 и users2 указывают на разные списки
print(users1)   # ["Tom", "Bob", "Alice"]
print(users2)   # ["Tom", "Bob", "Alice", "Sam"]

['Tom', 'Bob', 'Alice']
['Tom', 'Bob', 'Alice', 'Sam']

##Копирование части списка
Если необходимо скопировать не весь список, а только его какую-то определенную часть, то мы можем применять специальный синтаксис. который может принимать следующие формы:

list[:end]: через параметр end передается индекс элемента, до которого нужно копировать список

list[start:end]: параметр start указывает на индекс элемента, начиная с которого надо скопировать элементы

list[start:end:step]: параметр step указывает на шаг, через который будут копироваться элементы из списка. По умолчанию этот параметр равен 1.

In [ ]:
users = ["Tom", "Bob", "Alice", "Sam", "Tim", "Bill"]

slice_users1 = users[:3]   # с 0 по 3
print(slice_users1)   # ["Tom", "Bob", "Alice"]

slice_users2 = users[1:3]   # с 1 по 3
print(slice_users2)   # ["Bob", "Alice"]

slice_users3 = users[::-1]   # с 1 по 6 с шагом 2
print(slice_users3)   # ["Bob", "Sam", "Bill"]

['Tom', 'Bob', 'Alice']
['Bob', 'Alice']
['Bill', 'Tim', 'Sam', 'Alice', 'Bob', 'Tom']

##Соединение списков
Для объединения списков применяется операция сложения (+):

In [ ]:
users1 = ["Tom", "Bob", "Alice"]
users2 = ["Tom", "Sam", "Tim", "Bill"]
users3 = users1 + users2
print(users3)   # ["Tom", "Bob", "Alice", "Tom", "Sam", "Tim", "Bill"]

##Списки списков
Списки кроме стандартных данных типа строк, чисел, также могут содержать другие списки. Подобные списки можно ассоциировать с таблицами, где вложенные списки выполняют роль строк. Например:

In [ ]:
users = [
    ["Tom", 29],
    ["Alice", 33],
    ["Bob", 27]
]

print(users[0])         # ["Tom", 29]
print(users[0][0])      # Tom
print(users[0][1])      # 29
# jagged arrays

Чтобы обратиться к элементу вложенного списка, необходимо использовать пару индексов: users[0][1] - обращение ко второму элементу первого вложенного списка.

Добавление, удаление и исменение общего списка, а также вложенных списков аналогично тому, как это делается с обычными (одномерными) списками.

#Кортежи

Кортеж (tuple) представляет последовательность элементов, которая во многом похожа на список за тем исключением, что кортеж является неизменяемым (immutable) типом. Поэтому мы не можем добавлять или удалять элементы в кортеже, изменять его.

Для создания кортежа используются круглые скобки, в которые помещаются его значения, разделенные запятыми:

In [ ]:
user = ("Tom", 23)
print(user)

('Tom', 23)

Также для определения кортежа мы можем просто перечислить значения через запятую без применения скобок:

In [ ]:
user = "Tom", 23
print(user)

Если вдруг кортеж состоит из одного элемента, то после единственного элемента кортежа необходимо поставить запятую:

In [ ]:
user = ("Tom",)

Для создания кортежа из списка можно передать список в функцию tuple(), которая возвратит кортеж:

In [ ]:
users_list = ["Tom", "Bob", "Kate"]
users_tuple = tuple(users_list)
print(users_tuple)      # ("Tom", "Bob", "Kate")

Обращение к элементам в кортеже происходит также, как и в списке по индексу. Индексация начинается также с нуля при получении элементов с начала списка и с -1 при получении элементов с конца списка:

In [ ]:
users = ("Tom", "Bob", "Sam", "Kate")
print(users[0])     # Tom
print(users[2])     # Sam
print(users[-1])     # Kate

# получим часть кортежа со 2 элемента по 4
print(users[1:4])       # ("Bob", "Sam", "Kate")

Tom
Sam
Kate
('Bob', 'Sam', 'Kate')

Но так как кортеж - неизменяемый тип (immutable), то мы не сможем изменить его элементы. То есть следующая запись работать не будет:

In [ ]:
users[1] = "Tim"

TypeError: ignored

При необходимости мы можем разложить кортеж на отдельные переменные:

In [ ]:
user = ("Tom", 22, False)
name, age, isMarried = user
print(name)             # Tom
print(age)              # 22
print(isMarried)        # False

Tom
22
False

Особенно удобно использовать кортежи, когда необходимо возвратить из функции сразу несколько значений. Когда функция возвращает несколько значений, фактически она возвращает в кортеж:

In [ ]:
def get_user():
    name = "Tom"
    age = 22
    is_married = False
    return name, age, is_married


user = get_user()
print(user[0])              # Tom
print(user[1])              # 22
print(user[2])              # False


name, _, _ = get_user()

Tom
22
False

С помощью встроенной функции len() можно получить длину кортежа:

In [ ]:
user = ("Tom", 22, False)
print(len(user))        # 3

3

##Перебор кортежей
Для перебора кортежа можно использовать стандартные циклы for и while. С помощью цикла for:

In [ ]:
user = ("Tom", 22, False)
for item in user:
    print(item)

С помощью цикла while:

In [ ]:
user = ("Tom", 22, False)

i = 0
while i < len(user):
    print(user[i])
    i += 1

Как для списка с помощью выражения элемент in кортеж можно проверить наличие элемента в кортеже:

In [ ]:
user = ("Tom", 22, False)
name = "Tom"
if name in user:
    print("Пользователя зовут Tom")
else:
    print("Пользователь имеет другое имя")

##Сложные кортежи
Один кортеж может содержать другие кортежи в виде элементов. Например:

In [ ]:
countries = (
    ("Germany", 80.2, (("Berlin",3.326), ("Hamburg", 1.718))),
    ("France", 66, (("Paris", 2.2),("Marsel", 1.6)))
)

for country in countries:
    countryName, countryPopulation, cities = country
    print("\nCountry: {}  population: {}".format(countryName, countryPopulation))
    for city in cities:
        cityName, cityPopulation = city
        print("City: {}  population: {}".format(cityName, cityPopulation))

#Словари

Наряду со списками и кортежами Python имеет еще одну встроенную структуру данных, которая называется словарь (dictionary). В ряде языков программирования есть похожие структуры (словарь в C#, ассоциативный массив в PHP).

Как и список, словарь хранит коллекцию элементов. Каждый элемент в словаре имеет уникальный ключ, с которым ассоциировано некоторое значение.

Определение словаря имеет следующий синтаксис:

`dictionary = { ключ1:значение1, ключ2:значение2, ....}`

Определим пару словарей:

In [ ]:
users = {1: "Tom", 2: "Bob", 3: "Bill"}

elements = {"Au": "Золото", "Fe": "Железо", "H": "Водород", "O": "Кислород"}

print(users)

{1: 'Tom', 2: 'Bob', 3: 'Bill'}

В словаре users в качестве ключей используются числа, а в качестве значений - строки. В словаре element в качестве ключей используются строки.

Но необязательно ключи и строки должны быть однотипными. Они могу представлять разные типы:

In [ ]:
objects = {1: "Tom", "2": True, 3: 100.6}

Мы можем также вообще определить пустой словарь без элементов:

In [ ]:
objects = {}

или так:

In [ ]:
objects = dict()

##Преобразование из списка в словарь
Несмотря на то, что словарь и список - непохожие по структуре типы, но тем не менее существует возможности для отдельных видов списков преобразования их в словарь с помощью встроенной функции dict(). Для этого список должен хранить набор вложенных списков. Каждый вложенный список должен состоять из двух элементов - при конвертации в словарь первый элемент станет ключом, а второй - значением:

In [ ]:
users_list = [
    ["+111123455", "Tom"],
    ["+384767557", "Bob"],
    ["+958758767", "Alice"]
]
users_dict = dict(users_list)
print(users_dict)  # {"+111123455": "Tom", "+384767557": "Bob", "+958758767": "Alice"}

Подобным образом можно преобразовать в словарь двухмерные кортежи, которые в свою очередь содержать кортежи из двух элементов:

In [ ]:
users_tuple = (
    ("+111123455", "Tom"),
    ("+384767557", "Bob"),
    ("+958758767", "Alice")
)
users_dict = dict(users_tuple)
print(users_dict)

##Получение и изменение элементов
Для доступа к элементам словаря необходимо использовать ключ:

`dictionary[ключ]`

Например, получим и изменим элементы в словаре:

In [ ]:
users = {
    "+11111111": "Tom",
    "+33333333": "Bob",
    "+55555555": "Alice"
}

# получаем элемент с ключом "+11111111"
print(users["+11111111"])      # Tom

# установка значения элемента с ключом "+33333333"
users["+33333333"] = "Bob Smith"
print(users["+33333333"])      # Bob Smith

Tom
Bob Smith

Если при установке значения элемента с таким ключом в словаре не окажется, то произойдет его добавление:

In [ ]:
users["+4444444"] = "Sam"
print(users)

{'+11111111': 'Tom', '+33333333': 'Bob Smith', '+55555555': 'Alice', '+4444444': 'Sam'}

Но если мы попробуем получить значение с ключом, которого нет в словаре, то Python сгенерирует ошибку KeyError:

In [ ]:
user = users["+4444445"]    # KeyError

KeyError: ignored

И чтобы предупредить эту ситуацию перед обращением к элементу мы можем проверять наличие ключа в словаре с помощью выражения ключ in словарь. Если ключ имеется в словаре, то данное выражение возвращает True:

In [ ]:
key = "+4444444"
if key in users:
    user = users[key]
    print(user)
else:
    print("Элемент не найден")

Sam

Также для получения элементов можно использовать метод get, который имеет две формы:

get(key): возвращает из словаря элемент с ключом key. Если элемента с таким ключом нет, то возвращает значение None

get(key, default): возвращает из словаря элемент с ключом key. Если элемента с таким ключом нет, то возвращает значение по умолчанию default

In [ ]:
key = "+555555655"

user = users.get(key, "Unknown user")

user

'Unknown user'

##Удаление
Для удаления элемента по ключу применяется оператор del:

In [ ]:
users = {
    "+11111111": "Tom",
    "+33333333": "Bob",
    "+55555555": "Alice"
}

del users["+55555555"]
print(users)

Но стоит учитывать, что если подобного ключа не окажется в словаре, то будет выброшено исключение KeyError. Поэтому опять же перед удалением желательно проверять наличие элемента с данным ключом.

In [ ]:
key = "+55555555"
if key in users:
    user = users[key]
    del users[key]
    print(user, "удален")
else:
    print("Элемент не найден")

Другой способ удаления представляет метод pop(). Он имеет две формы:

pop(key): удаляет элемент по ключу key и возвращает удаленный элемент. Если элемент с данным ключом отсутствует, то генерируется исключение KeyError

pop(key, default): удаляет элемент по ключу key и возвращает удаленный элемент. Если элемент с данным ключом отсутствует, то возвращается значение default

In [ ]:
users = {
    "+11111111": "Tom",
    "+33333333": "Bob",
    "+55555555": "Alice"
}
key = "+55555555"
user = users.pop(key)
print(user)

user = users.pop("+4444444", "Unknown user")
print(user)

Alice
Unknown user

Если необходимо удалить все элементы, то в этом случае можно воспользоваться методом clear():

In [ ]:
users.clear()

##Копирование и объединение словарей
Метод copy() копирует содержимое словаря, возвращая новый словарь:

In [ ]:
users = {"+1111111": "Tom","+3333333": "Bob","+5555555": "Alice"}
users2 = users.copy()

Метод update() объединяет два словаря:

In [ ]:
users = {"+1111111": "Tom","+3333333": "Bob","+5555555": "Alice"}

users2 = {"+2222222": "Sam","+6666666": "Kate"}
users.update(users2)

print(users)    # {"+1111111": "Tom", "+3333333": "Bob", "+5555555": "Alice", "+2222222": "Sam", "+6666666": "Kate"}
print(users2)   # {"+2222222": "Sam", "+6666666": "Kate"}

{'+1111111': 'Tom', '+3333333': 'Bob', '+5555555': 'Alice', '+2222222': 'Sam', '+6666666': 'Kate'}
{'+2222222': 'Sam', '+6666666': 'Kate'}

При этом словарь users2 остается без изменений. Изменяется словарь users, в который добавляются элементы другого словаря. Но если необходимо, чтобы оба исходных словаря были без изменений, а результатом объединения был какой-то третий словарь, то можно предварительно скопировать один словарь в другой:

In [ ]:
users3 = users.copy()
users3.update(users2)

##Перебор словаря
Для перебора словаря можно воспользоваться циклом for:

In [ ]:
users = {
    "+11111111": "Tom",
    "+33333333": "Bob",
    "+55555555": "Alice"
}
for key in users:
    print(key, " - ", users[key])

+11111111  -  Tom
+33333333  -  Bob
+55555555  -  Alice

При переборе элементов мы получаем ключ текущего элемента и по нему можем получить сам элемент.

Другой способ перебора элементов представляет использование метода items():

In [ ]:
for key, value in users.items():
    print(key, " - ", value)

+11111111  -  Tom
+33333333  -  Bob
+55555555  -  Alice

Метод items() возвращает набор кортежей. Каждый кортеж содержит ключ и значение элемента, которые при переборе мы тут же можем получить в переменные key и value.

Также существуют отдельно возможности перебора ключей и перебора значений. Для перебора ключей мы можем вызвать у словаря метод keys():

In [ ]:
for key in users.keys():
    print(key)

+11111111
+33333333
+55555555

Правда, этот способ перебора не имеет смысла, так как и без вызова метода keys() мы можем перебрать ключи, как было показано выше.

Для перебора только значений мы можем вызвать у словаря метод values():

In [ ]:
for value in users.values():
    print(value)

Tom
Bob
Alice

In [ ]:
test_list = [(1,2),(3,4),(5,6),(7,8)]

for i, j in test_list:
  print(i, j)

1 2
3 4
5 6
7 8

#Множества

Множество (set) представляют еще один вид набора элементов. Для определения множества используются фигурные скобки, в которых перечисляются элементы:

In [ ]:
users = {"Tom","Bob","Alice", "Tom"}
print(users)    # {"Tom","Bob","Alice"}

{'Tom', 'Alice', 'Bob'}

Обратите внимание, что несмотря на то, что функция print вывела один раз элемент "Tom", хотя в определении множества этот элемент содержится два раза. Все потому что множество содержит только уникальные значения.

Также для определения множества может применяться функция set(), в которую передается список или кортеж элементов:

In [ ]:
users3 = set(["Mike", "Bill", "Ted"])

Функцию set удобно применять для создания пустого множества:

In [ ]:
users = set()

Для получения длины множества применяется встроенная функция len():

In [ ]:
users = {"Tom","Bob","Alice"}
print(len(users))  # 3

3

Добавление элементов
Для добавления одиночного элемента вызывается метод add():

In [ ]:
users = set()
users.add("Sam")
print(users)

##Удаление элементов
Для удаления одного элемента вызывается метод remove(), в который передается удаляемый элемент. Но следует учитывать, что если такого элемента не окажется в множестве, то будет сгенерирована ошибка. Поэтому перед удалением следует проверять на наличие элемента с помощью оператора in:

In [ ]:
users = {"Tom", "Bob", "Alice"}

user = "Tom"
if user in users:
    users.remove(user)
print(users)    # {"Bob", "Alice"}

Также для удаления можно использовать метод discard(), который не будет генерировать исключения при отсутствии элемента:

In [ ]:
user = "Tim"
users.discard(user)

Для удаления всех элементов вызывается метод clear():

In [ ]:
users.clear()

##Перебор множества
Для перебора элементов можно использовать цикл for:

In [ ]:
users = {"Tom","Bob","Alice"}

for user in users:
    print(user)

Alice
Tom
Bob

При переборе каждый элемент помещается в переменную user.

Операции с множествами
С помощью метода copy() можно скопировать содержимое одного множества в другую переменную:

In [ ]:
users = {"Tom","Bob","Alice"}
users3 = users.copy()

Метод union() объединяет два множества и возвращает новое множество:

In [ ]:
users = {"Tom","Bob","Alice"}
users2 = {"Sam","Kate", "Bob"}

users3 = users.union(users2)
print(users3)   # {"Bob", "Alice", "Sam", "Kate", "Tom"}

{'Kate', 'Alice', 'Tom', 'Bob', 'Sam'}

Пересечение множеств позволяет получить только те элементы, которые есть одновременно в обоих множествах. Метод intersection() производит операцию пересечения множеств и возвращает новое множество:

In [ ]:
users = {"Tom","Bob","Alice"}
users2 = {"Sam","Kate", "Bob"}

users3 = users.intersection(users2)
print(users3)   # {"Bob"}

{'Bob'}

Вместо метода intersection мы могли бы использовать операцию логического умножения:

In [ ]:
users = {"Tom","Bob","Alice"}
users2 = {"Sam","Kate", "Bob"}

print(users & users2)   # {"Bob"}

{'Bob'}

В этом случае мы получили бы тот же результат.

Еще одна операция - разность множеств возвращает те элементы, которые есть в первом множестве, но отсутствуют во втором. Для получения разности множеств можно использовать метод difference или операцию вычитания:

In [ ]:
users = {"Tom","Bob","Alice"}
users2 = {"Sam","Kate", "Bob"}

users3 = users.difference(users2)
print(users3)           # {"Tom", "Alice"}
print(users - users2)   # {"Tom", "Alice"}

{'Alice', 'Tom'}
{'Alice', 'Tom'}

Отношения между множествами
Метод issubset позволяет выяснить, является ли текущее множество подмножеством (то есть частью) другого множества:

In [ ]:
users = {"Tom", "Bob", "Alice"}
superusers = {"Sam", "Tom", "Bob", "Alice", "Greg"}

print(users.issubset(superusers))   # True
print(superusers.issubset(users))   # False

True
False

Метод issuperset, наоборот, возвращает True, если текущее множество является надмножеством (то есть содержит) для другого множества:

In [ ]:
users = {"Tom", "Bob", "Alice"}
superusers = {"Sam", "Tom", "Bob", "Alice", "Greg"}

print(users.issuperset(superusers))   # False
print(superusers.issuperset(users))   # True

False
True

In [ ]:
test_list = [9,8,7,5,5,5,5,3,9]

test_list = sorted(list(set(test_list)))

test_list

[3, 5, 7, 8, 9]

##frozen set
Тип frozen set является видом множеств, которое не может быть изменено. Для его создания используется функция frozenset:

In [ ]:
users = frozenset({"Tom", "Bob", "Alice"})

В функцию frozenset передается набор элементов - список, кортеж, другое множество.

В такое множество мы не можем добавить новые элементы, как и удалить из него уже имеющиеся. Собственно поэтому frozen set поддерживает ограниченный набор операций:

- len(s): возвращает длину множества

- x in s: возвращает True, если элемент x присутствует в множестве s

- x not in s: возвращает True, если элемент x отсутствует в множестве s

- s.issubset(t): возвращает True, если t содержит множество s

- s.issuperset(t): возвращает True, если t содержится в множестве s

- s.union(t): возвращает объединение множеств s и t

- s.intersection(t): возвращает пересечение множеств s и t

- s.difference(t): возвращает разность множеств s и t

- s.copy(): возвращает копию множества s

# Регулярные выражения

Регулярные выражения - формальный язык поиска и осуществления манипуляций с подстроками в тексте, в том числе:

* для проверки валидности формата строка, например телефонного номера или email-адреса;
* для разбивки строк на подстроки;
* для поиска, замены и извлечения символов и т.д.

Синтаксис таких выражений в основном стандартизирован, что позволяет использовать одни регулярные выражения в разных языках программирования.

Для использования регулярных выражение в Python используется модуль `re`.

**Примечание** Не стоит забывать, что регулярные выражения не всегда оптимальны, и для простых операций часто достаточно встроенных в Python функций.

In [ ]:
import re

## re.match(pattern, string)

Этот метод ищет по заданному шаблону в начале строки. Например, если мы вызовем метод match() на строке «AV Analytics AV» с шаблоном «AV», то он завершится успешно. Но если мы будем искать «Analytics», то результат будет отрицательный:

In [ ]:
result = re.match(r'AV', 'AV Analytics Vidhya AV')
print(result)

<re.Match object; span=(0, 2), match='AV'>

Искомая подстрока найдена. Чтобы вывести её содержимое, применим метод group() (мы используем «r» перед строкой шаблона, чтобы показать, что это «сырая» строка в Python):

In [ ]:
result = re.match(r'AV', 'AV Analytics Vidhya AV')
print(result.group(0))

AV

Теперь попробуем найти «Analytics» в данной строке. Поскольку строка начинается на «AV», метод вернет None:

In [ ]:
result = re.match(r'Analytics', 'AV Analytics Vidhya AV')
print(result)

None

Также есть методы start() и end() для того, чтобы узнать начальную и конечную позицию найденной строки.

In [ ]:
result = re.match(r'AV', 'AV Analytics Vidhya AV')
print(result.start())
print(result.end())

0
2

## re.search(pattern, string)

Метод похож на match(), но ищет не только в начале строки. В отличие от предыдущего, search() вернёт объект, если мы попытаемся найти «Analytics»:

In [ ]:
result = re.search(r'Analytics', 'AV Analytics Vidhya AV')
print(result.group(0))

Analytics

## re.findall(pattern, string)
Возвращает список всех найденных совпадений. У метода ``findall()`` нет ограничений на поиск в начале или конце строки. Если мы будем искать «AV» в нашей строке, он вернет все вхождения «AV». Для поиска рекомендуется использовать именно ``findall()``, так как он может работать и как ``re.search()``, и как ``re.match()``.

In [ ]:
result = re.findall(r'AV', 'AV Analytics Vidhya AV')
print (result)

['AV', 'AV']

## re.split(pattern, string, [maxsplit=0])
Этот метод разделяет строку по заданному шаблону.

In [ ]:
result = re.split(r'y', 'Analytics')
print (result)

['Anal', 'tics']

## re.sub(pattern, repl, string)
Ищет шаблон в строке и заменяет его на указанную подстроку. Если шаблон не найден, строка остается неизменной.

In [ ]:
result = re.sub(r'India', 'the World', 'AV is largest Analytics community of India')
print (result)

AV is largest Analytics community of the World

## re.compile(pattern, repl, string)
Мы можем собрать регулярное выражение в отдельный объект, который может быть использован для поиска. Это также избавляет от переписывания одного и того же выражения.

In [ ]:
pattern = re.compile('AV')
result = pattern.findall('AV Analytics Vidhya AV')
print (result)
result2 = pattern.findall('AV is largest analytics community of India')
print (result2)

['AV', 'AV']
['AV']

До сих пор мы рассматривали поиск определенной последовательности символов. Регулярные выражения часто используются в сценариях, когда необходимо найти / заменить подстроку, отвечающую определенным правилам. Для этого используются в регулярных выражениях могут использоваться специальные символы (метасимволы) и операторы. Наиболее часто используемые из них:

|Оператор	|Описание|
|---|---|
|.	|Один любой символ, кроме новой строки \n.|
|?	|0 или 1 вхождение шаблона слева|
|+	|1 и более вхождений шаблона слева|
|*	|0 и более вхождений шаблона слева|
|\w	|Любая цифра или буква (\W — все, кроме буквы или цифры)|
|\d	|Любая цифра [0-9] (\D — все, кроме цифры)|
|\s	|Любой пробельный символ (\S — любой непробельный символ)|
|\b	|Граница слова|
|[..]	|Один из символов в скобках ([^..] — любой символ, кроме тех, что в скобках)|
|\	|Экранирование специальных символов (\. означает точку или \+ — знак «плюс»)|
|^ и $	|Начало и конец строки соответственно|
|{n,m}	|От n до m вхождений ({,m} — от 0 до m)|
|a\|b	|Соответствует a или b|
|()	|Группирует выражение и возвращает найденный текст|
|\t, \n, \r	|Символ табуляции, новой строки и возврата каретки соответственно|

## Примеры

### Вернуть домены из списка email-адресов

Сначала вернём все символы после «@»:

In [ ]:
result = re.findall(r'@\w+', 'abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz')
print (result)

['@test', '@analyticsvidhya', '@rest']

Как видим, части «.com», «.in» и т. д. не попали в результат. Изменим наш код:

In [ ]:
result = re.findall(r'@\w+.\w+', 'abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz')
print (result)

['@gmail.com', '@test.in', '@analyticsvidhya.com', '@rest.biz']

Получение домена верхнего уровня, используя группировку — ( ):

In [ ]:
result = re.findall(r'@\w+.(\w+)', 'abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz')
print (result)

['com', 'in', 'com', 'biz']

#### Проверить формат телефонного номера

Номер должен быть длиной 10 знаков и начинаться с 8 или 9:

In [ ]:
li = ['9999999999', '999999-999', '99999x9999']

for val in li:
    if re.match(r'[8-9]{1}[0-9]{9}', val) and len(val) == 10:
        print ('yes')
    else:
        print ('no')

yes
no
no

#Функции

Функции представляют блок кода, который выполняет определенную задачу и который можно повторно использовать в других частях программы. Формальное определение функции:


```
def имя_функции ([параметры]):
    инструкции
```


Определение функции начинается с выражения def, которое состоит из имени функции, набора скобок с параметрами и двоеточия. Параметры в скобках необязательны. А со следующей строки идет блок инструкций, которые выполняет функция. Все инструкции функции имеют отступы от начала строки.

Например, определение простейшей функции:

In [ ]:
def say_hello():
    print("Hello")

Функция называется say_hello. Она не имеет параметров и содержит одну единственную инструкцию, которая выводит на консоль строку "Hello".

Для вызова функции указывается имя функции, после которого в скобках идет передача значений для всех ее параметров. Например:

In [ ]:
def say_hello():
    print("Hello")

def say_hi():
  print("hi")

say_hello()
say_hi()

Hello
hi

Теперь определим и используем функцию с параметрами:

In [ ]:
def say_hello(name):
    print("Hello,", name)

say_hello("Tom")
say_hello("Bob")
say_hello("Alice")

Hello, Tom
Hello, Bob
Hello, Alice

##Значения по умолчанию
Некоторые параметры функции мы можем сделать необязательными, указав для них значения по умолчанию при определении функции. Например:

In [ ]:
def say_hello(name="Tom"):
    print("Hello,", name)

say_hello()
say_hello("Bob")

Hello, Tom
Hello, Bob

Здесь параметр name является необязательным. И если мы не передаем при вызове функции для него значение, то применяется значение по умолчанию, то есть строка "Tom".

##Именованные параметры
При передаче значений функция сопоставляет их с параметрами в том порядке, в котором они передаются. Например, пусть есть следующая функция:

In [ ]:
def display_info(name, age):
    print("Name:", name, "\t", "Age:", age)

display_info("Tom", 22)

Name: Tom 	 Age: 22

При вызове функции первое значение "Tom" передается первому параметру - параметру name, второе значение - число 22 передается второму параметру - age. И так далее по порядку. Использование именованных параметров позволяет переопределить порядок передачи:

In [ ]:
def display_info(name, age):
    print("Name:", name, "\t", "Age:", age)

display_info(age=22, name="Tom")

Name: Tom 	 Age: 22

Именованные параметры предполагают указание имени параметра с присвоением ему значения при вызове функции.

##Неопределенное количество параметров
С помощью символа звездочки можно определить неопределенное количество параметров:

In [ ]:
def sum(*params):
    result = 0
    for n in params:
        result += n
    return result


sumOfNumbers1 = sum(1, 2, 3, 4, 5)      # 15
sumOfNumbers2 = sum(3, 4, 5, 6)         # 18
print(sumOfNumbers1)
print(sumOfNumbers2)

15
18

В данном случае функция sum принимает один параметр - *params, но звездочка перед названием параметра указывает, что фактически на место этого параметра мы можем передать неопределенное количество значений или набор значений. В самой функции с помощью цикла for можно пройтись по этому набору и произвести с переданными значениями различные действия. Например, в данном случае возвращается сумма чисел.

##Возвращение результата
Функция может возвращать результат. Для этого в функции используется оператор return, после которого указывается возвращаемое значение:

In [ ]:
def exchange(usd_rate, money):
    result = round(money/usd_rate, 2)
    return result

result1 = exchange(60, 30000)
print(result1)
result2 = exchange(56, 30000)
print(result2)
result3 = exchange(65, 30000)
print(result3)

В Python функция может возвращать сразу несколько значений:

In [ ]:
from typing import Tuple

def create_default_user() -> Tuple[str, int]:
    name = "Tom"
    age = 33
    return name, age


user_name, user_age = create_default_user()
print("Name:", user_name, "\t Age:", user_age)

Name: Tom 	 Age: 33

#Область видимости переменных

Область видимости или scope определяет контекст переменной, в рамках которого ее можно использовать. В Python есть два типа контекста: глобальный и локальный.

Глобальный контекст подразумевает, что переменная является глобальной, она определена вне любой из функций и доступна любой функции в программе. Например:

In [ ]:
name = "Tom"


def say_hi():
    print("Hello", name)


def say_bye():
    print("Good bye", name)

say_hi()
say_bye()

Hello Tom
Good bye Tom

Здесь переменная name является глобальной и имеет глобальную область видимости. И обе определенные здесь функции могут свободно ее использовать.

В отличие от глобальных переменных локальная переменная определяется внутри функции и доступна только из этой функции, то есть имеет локальную область видимости:

In [ ]:
def say_hi():
    name = "Sam"
    surname = "Johnson"
    print("Hello", name, surname)


def say_bye():
    name = "Tom"
    print("Good bye", name)

say_hi()
say_bye()

Hello Sam Johnson
Good bye Tom

В данном случае в каждой из двух функций определяется локальная переменная name. И хотя эти переменные называются одинаково, но тем не менее это дву разных переменных, каждая из которых доступна только в рамках своей функции. Также в функции say_hi определена переменная surname, которая также является локальной, поэтому в функции say_bye мы ее использовать не сможем.

Есть еще один вариант определения переменной, когда локальная переменная скрывают глобальную с тем же именем:

In [ ]:
name = "Tom"


def say_hi():
    print("Hello", name)


def say_bye():
    name = "Bob"
    print("Good bye", name)

say_hi()  # Hello Tom
result = say_bye()  # Good bye Bob

Hello Tom
Good bye Bob
None

Здесь определена глобальная переменная name. Однако в функции say_bye определена локальная переменная с тем же именем name. И если функция say_hi использует глобальную переменную, то функция say_bye использует локальную переменную, которая скрывает глобальную.

Если же мы хотим изменить в локальной функции глобальную переменную, а не определить локальную, то необходимо использовать ключевое слово global:

In [ ]:
def say_bye():
    global name
    name = "Bob"
    print("Good bye", name)

В Python, как и во многих других языках программирования, **не рекомендуется использовать глобальные переменные**. Единственной допустимой практикой является определение небольшого числа глобальных констант, которые не изменяются в процессе работы программы.

In [ ]:
PI = 3.14


# вычисление площади круга
def get_circle_square(radius):

    print("Площадь круга с радиусом", radius, "равна", PI * radius * radius)

get_circle_square(50)

Площадь круга с радиусом 50 равна 7850.0

В данном случае число 3.14 представлено константой PI. Понятно, что это значение в принципе не изменится, поэтому его можно вынести из функций и определить в виде константы. Как правило, имя константы определяется заглавными буквами.

#Lambda-функции (анонимные функции)

In [ ]:
import math #Подключаем библиотеку math

pi_const = round(math.pi, 2) #округляем pi до второго знака
# после запятой иначе она будет выглядеть
# как 3.141592653589793 а нам это будет неудобно

print((lambda radius: pi_const*(radius**2))(5))
print((lambda radius: pi_const*(radius**2))(12))
print((lambda radius: pi_const*(radius**2))(26))

78.5
452.16
2122.64

Чтобы было понятнее, анонимный вызов функции подразумевает то, что вы используете её, нигде не объявляя, как в примере выше.

Лямбда функция работает по следующему принципу

`print((lambda перечисляются аргументы через запятую : что то с ними делается)(передаем аргументы))`

In [ ]:
inv = lambda x: -x
sum = lambda x, y: x + y

print(inv(5), sum(5, 7))

-5 12

In [ ]:
# Создали список из словарей книг
asoiaf_books = [
  {'title' : 'Game of Thrones', 'published' : '1996-08-01', 'pages': 694},
  {'title' : 'Clash of Kings', 'published' : '1998-11-16', 'pages': 761},
  {'title' : 'Storm of Swords', 'published' : '2000-08-08', 'pages': 973},
  {'title' : 'Feast for Crows', 'published' : '2005-10-17', 'pages': 753},
  {'title' : 'Dance with Dragons', 'published' : '2011-07-12', 'pages': 1016}
]

# Сортируем по названию
for book in sorted(asoiaf_books, key=lambda book: book.get('title')):
  print(book)

print('-------------')

# Сортируем по датам
for book in sorted(asoiaf_books, key=lambda book: book.get('published')):
  print(book)

print('-------------')

# Сортируем по количеству страниц
for book in sorted(asoiaf_books, key=lambda book: book.get('pages')):
  print(book)

{'title': 'Clash of Kings', 'published': '1998-11-16', 'pages': 761}
{'title': 'Dance with Dragons', 'published': '2011-07-12', 'pages': 1016}
{'title': 'Feast for Crows', 'published': '2005-10-17', 'pages': 753}
{'title': 'Game of Thrones', 'published': '1996-08-01', 'pages': 694}
{'title': 'Storm of Swords', 'published': '2000-08-08', 'pages': 973}
-------------
{'title': 'Game of Thrones', 'published': '1996-08-01', 'pages': 694}
{'title': 'Clash of Kings', 'published': '1998-11-16', 'pages': 761}
{'title': 'Storm of Swords', 'published': '2000-08-08', 'pages': 973}
{'title': 'Feast for Crows', 'published': '2005-10-17', 'pages': 753}
{'title': 'Dance with Dragons', 'published': '2011-07-12', 'pages': 1016}
-------------
{'title': 'Game of Thrones', 'published': '1996-08-01', 'pages': 694}
{'title': 'Feast for Crows', 'published': '2005-10-17', 'pages': 753}
{'title': 'Clash of Kings', 'published': '1998-11-16', 'pages': 761}
{'title': 'Storm of Swords', 'published': '2000-08-08', 'pages': 973}
{'title': 'Dance with Dragons', 'published': '2011-07-12', 'pages': 1016}

Range, zip, map, filter

## Enumerate

Функция `enumerate()` применяется для так называемых итерируемых объектов (список относится к таковым) и создает объект-генератор, который генерирует кортежи, состоящие из двух элементов – индекса элемента и самого элемента.


`enumerate()` часто используется в заголовке `for`

In [ ]:
b = "hello"
for i in enumerate(b):
  print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

Полученные кортежи можно распаковать, то есть извлечь индекс и значение в теле цикла:

In [ ]:
example_list = [16, 46, 26, 36]

In [ ]:
for item in enumerate(example_list):
  print(item[0], item[1])

0 16
1 46
2 26
3 36

Однако, лучше это делать в заголовке `for` следующим образом:

In [ ]:
for id, val in enumerate(example_list):
  print(id, val)

0 16
1 46
2 26
3 36

In [ ]:
for i in range(len(test_list)):
  print(test_list[i], i)


for i, element in enumerate(test_list):
  print(element, i)

## Zip

Функция `zip()` в Python создает итератор, который объединяет элементы из нескольких источников данных. Эта функция работает со списками, кортежами, множествами и словарями для создания списков или кортежей, включающих все эти данные.

In [ ]:
employee_numbers = [2, 9, 18, 28]
employee_names = ["Дима", "Марина", "Андрей", "Никита"]

zipped_values = zip(employee_names, employee_numbers)
zipped_list = list(zipped_values)

print(zipped_list)

[('Дима', 2), ('Марина', 9), ('Андрей', 18), ('Никита', 28)]

In [ ]:
employee_numbers = [2, 9, 18, 28]
employee_names = ["Дима", "Марина", "Андрей", "Никита"]

for name, number in zip(employee_names, employee_numbers):
	print(name, number)

Дима 2
Марина 9
Андрей 18
Никита 28

In [ ]:
for i in range(min(len(employee_names), len(employee_numbers))):
  print(employee_names[i], employee_numbers[i])

Дима 2
Марина 9
Андрей 18
Никита 28

А что если ... мы хотим сделать `unzip`?

In [ ]:
employee_names, employee_numbers = zip(*zipped_list)

print(employee_names)
print(employee_numbers)

('Дима', 'Марина', 'Андрей', 'Никита')
(2, 9, 18, 28)

## Map

* `map(func, iterables)` - выполняет преобразование func над элементами iterables и возвращает **новый** `iterable`:

In [ ]:
words = ["pattern", "reserach", "CNN", "PCA", "SVM"]

letter_counts = list(map(lambda x: len(x), words))



print(letter_counts)
print()
print(words)

[7, 8, 3, 3, 3]

['pattern', 'reserach', 'CNN', 'PCA', 'SVM']

* `filter(predicate, iterable)` - оставляет только те элементы, для которых **верен** предикат (функция, возвращающая bool):

In [ ]:
mixed = ['мак', 'просо', 'мак', 'мак', 'просо', 'мак', 'просо', 'просо', 'просо', 'мак']
only_mac = list(filter(lambda x: x == 'мак', mixed))
print(only_mac)

only_mac = [x for x in mixed if x == 'мак']
print(only_mac)

['мак', 'мак', 'мак', 'мак', 'мак']
['мак', 'мак', 'мак', 'мак', 'мак']